<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948971948147-at7ft9k542e55h381v6s4jah7lulfagi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948971948147-at7ft9k542e55h381v6s4jah7lulfagi</string>
	<key>API_KEY</key>
	<string>AIzaSyB8eRfq5CdXxgUOCPUBcOrw--2XWVTR8cY</string>
	<key>GCM_SENDER_ID</key>
	<string>948971948147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.supernovaonline.MusicStreaming</string>
	<key>PROJECT_ID</key>
	<string>musicstreaming-d45e2</string>
	<key>STORAGE_BUCKET</key>
	<string>musicstreaming-d45e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948971948147:ios:4555b9b332afa68d658206</string>
</dict>
</plist>